/** HouseHustles 2019 **/

*{
	margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Nunito', sans-serif;
	font-size: 100%;
	vertical-align: baseline;
  background: transparent;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

/** Main Hero including banner image **/
#hero{
 width: -webkit-fill-available;
 height:  -webkit-fill-available;
 background: white;
 background-image: url('../img/hero-image.png');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 filter: blur(10px);
}

#hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

/** Contains the options boxes **/
#mid-section{
  display: inline-flex;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
	overflow: hidden;
}

.option-box{
  margin-left: 30px;
  margin-right: 30px;
  padding: 35px 10px;
  border-radius: 3px;
  text-align: center;
	transition: transform 0.5s ease-in-out;
}

.option-box:hover{
 cursor: pointer;
 transform:scale(1.1);
}

.option-box-title{
  font-size: 25px;
  text-align: center;
}

.option-box-icon{
  font-size: 75px;
  text-align: center;
  margin-top: 10px;
  color: #0055cc;
}

.option-box-desc{
  margin-left: 60px;
  margin-right: 60px;
}

#separatorToBlue{
  border-bottom: 75px solid #0055cc;
  border-left: 0px solid transparent;
  border-right: 2500px solid transparent;
  height: 0;
  width: 100px;
  overflow: hidden;
}

#helping-hand{
position: absolute;
font-size: 100px;
margin-left: 5%;
margin-top: 70px;
}

.question-li{
 margin-top: 15px;
 text-align: center;
}

/*The stats in the about section */
.stats{
	display: inline-flex;
	margin-left: 20px;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom:50px;
	margin-left: 50%;
  transform: translateX(-50%);
}

.small-stats{
	width: 30%;
	text-align: CENTER;
}

.big-number{
	font-size: 100px;
	-webkit-font-smoothing: antialiased;
}

/** Testimonial Section **/
#separatorToWhite{
	border-bottom: 45px solid #0055cc;
  border-left: 0px solid transparent;
  border-right: 2500px solid transparent;
  height: 0;
  width: 100px;
  overflow: hidden;
	color: blue;
	transform: rotateZ(180deg);
}

#footer{
	height: 50vh;
	background: #eee;
	background-image: linear-gradient(#fff, #b7b7b740);
	color: #0055cc8f;
}

#social-media{
	display: inline-flex;
	width: 50%;
	justify-content: space-evenly;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 30px;
}

.fab{
font-size: 100px;
}

/**OPTION BOX SELECT **/
.optionLightBox{
	    border: 0.5px solid black;
	    border-radius: 3px;
	    padding: 10px;
	    width: 60%;
	    margin-left: 50%;
	    transform: translateX(-50%);
			padding: 10px 30px;
}

.form-label{
	font-size: 20px;
	color: #0055cc;
	font-weight: 100;
	margin-top: 15px;
}

.small-label{
 font-size: 20px;
}

#order-desc{
	resize: false;
}

#submitOrder{
	padding: 5px 10px;
	border-radius: 3px;
	border-color: #0055ccc9;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
	margin-bottom: 20px;
	background: #0055ccc9;
	color: white;
}

input{
	border: 1px solid #BBB;
	border-radius: 1px;
	font-size: 20px;
}

textarea{
	border: 0.5px solid #BBB;
	resize: unset;
	width: 50%;
	height: 150px;
	font-size: 18px;
}

select{
	border: 0.5px solid #BBB;
	font-size: 20px;
}
